# Team: Roti Kanai
# Automation Configuration Settings (ansible config)
[defaults]

# Point directly to the local inventory file within this repository
inventory = ./hosts

# Disable strict host key checking
host_key_checking = False 

# Prevent the creation of cluttering .retry files if task fail
retry_files_enabled = False 

# Do not show warnings
deprecation_warnings = False